<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CLIENT_ID</key>
        <string>188185550844-krno5kusjr9oql4vlamhuanuu3qa2fun.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.188185550844-krno5kusjr9oql4vlamhuanuu3qa2fun</string>
        <key>API_KEY</key>
        <string>AIzaSyBwq3HVN-AnWQ-8oa8d5NkOQ6e9RhY80ig</string>
        <key>GCM_SENDER_ID</key>
        <string>188185550844</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.xdea.pitchnote</string>
        <key>PROJECT_ID</key>
        <string>pitchnote-f1fd4</string>
        <key>STORAGE_BUCKET</key>
        <string>pitchnote-f1fd4.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <false></false>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <true></true>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:188185550844:ios:c1843acda2c33c3e</string>
        <key>DATABASE_URL</key>
        <string>https://pitchnote-f1fd4.firebaseio.com</string>
    </dict>
</plist>
